body {
    background-color: rgb(107, 121, 128);
}

.covidData {
    background-color: rgb(94, 204, 199);
    width: 30%;
    margin: auto;
    margin-top: 15px;
    border-radius: 6px;
    padding: 10px;
}

/* input stylings */

.covidData__form {
    padding: 10px;
    margin: 20px;
}

.covidData__input input {
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.covidData__input button {
    width: 80px;
    height: 50px;
    margin-top: 10px;
    background-color: rgb(19, 17, 17);
    color: rgba(196, 200, 202, 0.916);
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px rgb(119, 42, 42);
    cursor: pointer;
}

/* detail stylings */

.covidData__country__info {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-left: 10px;
    background-color: rgb(59, 184, 234);
    margin-top: 20px;
    padding: 2px;
    text-shadow: 1px 1px 1px rgb(71, 67, 67);
    box-shadow: 5px 5px 5px rgb(71, 67, 67);
}